* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin-bottom: 70px;
}

.header,
.navbar,
main {
  display: flex;
  flex-direction: column;
}

main,
button,
address {
  font-family: "Merriweather", serif;
}

.header {
  background: rgb(0, 0, 0);
  padding: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin-top: 10px;
}

.navbar {
  list-style: none;
  flex-direction: row;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
}

li a:visited {
  text-decoration: none;
}

.services {
  flex-direction: column;
  align-items: center;
}

#picture {
  width: 100%;
}

#dog {
  width: 500px;
}

#motto {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

#question {
  color: rgb(138, 98, 45);
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.service-name {
  color: rgb(138, 98, 45);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

p {
  color: rgb(128, 128, 128);
}

.details {
  text-align: center;
}

#reservation {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background: rgb(138, 98, 45);
  border: none;
  padding: 10px;
}

address {
  text-align: center;
}

/*------------Desktop---------*/
@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar {
    margin-right: 30px;
    margin-bottom: 25px;
  }

  li a {
    font-size: 25px;
    padding: 0 10px 0 10px;
  }

  .img-motto {
    flex-direction: row;
  }

  #picture {
    width: 50%;
  }

  #dog {
    width: 700px;
  }

  #motto-container {
    position: relative;
  }

  #motto {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  #reservation {
    width: 400px;
    left: 50%;
    transform: translate(-50%);
    bottom: 5px;
    border-radius: 20px;
  }
}
